<!DOCTYPE html>
<html>
<head>
    <title>Система входа и выхода</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Войти в аккаунт:</h1>

    <form method="POST">
        <input type="text" id="username" name="username_field" placeholder="Введите имя">
        <input type="text" id="password" name="password_field" placeholder="Введите пароль">
        <button type="submit">Войти</button>
    </form><br>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <p>Нет аккаунта? <a href="/register">Зарегистрируйтесь</a></p>
</body>
</html>
