{% extends 'base.html' %}
{% block content %}
<h1>Зарегистрировать аккаунт:</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    
    <div style="margin-bottom: 10px;">
        {{ form.username(placeholder="Введите имя") }}
        {% for error in form.username.errors %}
            <span style="color: red; font-size: 0.8em;">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div style="margin-bottom: 10px;">
        {{ form.password(placeholder="Введите пароль") }}
        {% for error in form.password.errors %}
            <span style="color: red; font-size: 0.8em;">{{ error }}</span>
        {% endfor %}
    </div>

    <div style="margin-bottom: 10px;">
        {{ form.confirm_password(placeholder="Повторите пароль") }}
        {% for error in form.confirm_password.errors %}
            <span style="color: red; font-size: 0.8em;">Пароли не совпадают</span>
        {% endfor %}
    </div>
    
    {{ form.submit() }}
</form><br>

<p>Есть аккаунт? <a href="/login">Войти</a></p>
{% endblock %}
